name: salaahstreak
description: Islamic Namaz Game App with Points & Leaderboard.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  firebase_core: ^2.24.2
  firebase_auth: ^4.15.3
  cloud_firestore: ^4.13.6
  google_sign_in: ^6.1.6
  http: ^1.1.0
  intl: ^0.18.1
  flutter_local_notifications: ^16.3.2
  shared_preferences: ^2.2.2
  lottie: ^2.7.0  # For Kaaba animation

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/animations/